<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <div class="navbar-links">
            <a href="/dashboard" class="navbar-link">
                <img src="https://imgs.search.brave.com/Hliek5D4vIGCxbqcgvVkr0c0hto4vSyo86rrYub1sNU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/aWNvbnBhY2tzLm5l/dC9pY29ucy8zL2Zy/ZWUtaW5mb3JtYXRp/b24taWNvbi02MjU1/LnBuZw"> Dashboard
            </a>
            <a href="/klient" class="navbar-link">
                <img src="https://imgs.search.brave.com/ePP3V0QXi4Xx8PezpMQYxe2f5N_ZyqXY_3Nu0JB5c2Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3VzZXItcG5n/LWljb24tdXNlcnMt/aWNvbnMtNTEyLnBu/Zw"> Klient
            </a> 
            <a href="/dokumenta" class="navbar-link">
                <img src="https://imgs.search.brave.com/IMVCC7tizf0dYMQw0nX6AFLX8aqMFSr5OIH5kD-lbe4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG40/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvNDgtYnViYmxl/cy80OC8xMi5GaWxl/LTY0LnBuZw"> Dokumenta
            </a>
            <a href="/harte" class="navbar-link">
                <img src="https://imgs.search.brave.com/Lxo_WltBEXpxMEbpokqv8GAVKAdxPXGd4sFDH61HAYk/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nYWxsLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAxNy8w/NS9NYXAtTWFya2Vy/LVRyYW5zcGFyZW50/LnBuZw"> Harte
            </a>
            <a class="navbar-link navbar-link-right" (click)="confirmLogout()">
                <img src="https://imgs.search.brave.com/YNBvyRk8CY2cA41bEUFdjJxYjNFdJ_xRWukbjrXYDqM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90b3Bw/bmcuY29tL3VwbG9h/ZHMvdGh1bWJuYWls/L2xvZ291dC0xMTU1/MTA1NjI5MzR4d2Nu/aTN6M3kucG5n"> Dilni
            </a>
        </div>
        <div class="navbar-text">
            <p>Për të aksesuar menut e tjera mund të klikoni 
            në emrat përkatës më lart</p>
        </div>
        </div>
    </div>
</nav>
