<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>
            <h2>Mirësevini në dashboard, {{ user.name }}!</h2>
          </td>
        </tr>
        <tr>
          <th>Përshkrimi i përdoruesit  : </th>
        </tr>
    <tr>
      <td>
        <table>
          <tr class="styled-row">
            <td><strong>ID:</strong></td>
            <td>{{ user.id }}</td>
          </tr>
          <tr class="styled-row">
            <td><strong>Emri:</strong></td>
            <td>{{ user.name }}</td>
          </tr>
          <tr class="styled-row">
            <td><strong>Username:</strong></td>
            <td>{{ user.username }}</td>
          </tr>
          <tr class="styled-row">
            <td><strong>Email:</strong></td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td><strong>Mosha:</strong></td>
            <td>{{ user.age }}</td>
          </tr>
          <tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</div>
</div>